html, body{
    height: 100%;
    margin: 0;
}

#wrapper{
    width: 100%;
    height: 100%;
    margin: auto;
}
#header{
    position: fixed;
    width: 100%;
    max-width: inherit;
    background-color: #FFF;
    z-index: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
}
#header__body{
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0px 10px 0px 10px;
    z-index: 1;
}
#header__logo{
    align-self: flex-start;
    margin: 10px 0px 0px 0px;
    max-height: 70px;
    z-index: 3;
}
#header__logo img{
    max-height: 70px;
    display: block;
    z-index: 3;
}
#back-top{
    display: block;
    position: fixed;
    top: 15px;
    right: 0px;
}
#up{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #4682B4;
    margin: 10px 10px 10px 10px;
    border:2px solid #4682B4;
    text-align:center;
    padding:3px;
    cursor:pointer;
    border-radius: 3px;
}
#header__burger{
    display: none;
}
#header__menu{
    padding: 5px 0px 5px 0px;
    position: fixed;
    max-width: inherit;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 36px;
    background-color: #4682B4;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
}
.br_menu_line{
    display: none;
}
.menu_page_link{
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 10px 10px 10px 10px;
}
#menu_wrap{
    text-align: center;
}
#content{
    width: 100%;
    padding: 100px 0px 0px 0px;
    min-height: 100%;
    background-color: #DCDCDC;
    box-sizing: border-box;
}
#container{
    padding: 0px;
    margin:0 auto;
}
select{
    font-size: 16px;
}
#button{
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.4s;
}
#button:hover {
    background-color: #4CAF50;
    color: white;
}
.view {
    overflow: auto;
    max-width: 100%;
    position: relative;
    display: inline-block;
}
.view span{
    position: absolute;
    font-size: 12px;
}
@media (max-width: 767px){
    body.lock{
        overflow: hidden;
    }
    #header__logo{
        max-height: 40px;
        margin: 5px 0px 0px 0px;
    }
    #header__logo img{
        max-height: 40px;
    }
    #back-top{
        right: 50px;
        top: 15px;
    }
    #header__burger{
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    #bef{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 0;
        transition: all 0.3s ease 0s;
        background-color: #4682B4;
    }
    #mid{
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 8px;
        transition: all 0.3s ease 0s;
        background-color: #4682B4;
    }
    #aft{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 16px;
        transition: all 0.3s ease 0s;
        background-color: #4682B4;
    }
    #bef.active{
        transform:rotate(45deg);
        top: 9px;
        background-color: #FFF;
    }
    #aft.active{
        transform:rotate(-45deg);
        top: 9px;
        background-color: #FFF;
    }
    #mid.active{
        transform:scale(0);
    }
    #header__menu{
        position: fixed;
        top: -120%;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #4682B4;
        padding: 10px 10px 20px 10px;
        margin: 0px 0px 0px 0px;
        display: block;
    }
    #header__menu.active{
        top: 0%;
        padding: 40px 0px 0px 0px;
        z-index: 1;
    }
    .br_menu_line{
        display: block;
    }
    #content{
        padding: 50px 0px 0px 0px;
    }
}